@if (isOpen) {
  <div
    #dropdownRef
    [style.top.px]="top"
    [style.left.px]="left"
    [style.visibility]="isPositioned ? 'visible' : 'hidden'"
    [ngClass]="'fixed z-[9999] overflow-visible'"
  >
    @if (showArrow) {
      <span
        class="pointer-events-none absolute h-3 w-3 rotate-45 border-l border-t border-gray-200 bg-white dark:border-gray-800 dark:bg-gray-dark"
        [ngClass]="placement === 'bottom' ? ('-top-1.5 ' + arrowClassName) : ('-bottom-1.5 ' + arrowClassName)"
      ></span>
    }
    <div [ngClass]="'max-h-[calc(100vh-1rem)] overflow-auto rounded-xl border border-gray-200 bg-white shadow-theme-lg dark:border-gray-800 dark:bg-gray-dark ' + className">
      <ng-content></ng-content>
    </div>
  </div>
}
