<div class="mb-5 flex items-start gap-2 rounded-xl border border-warning-200 bg-warning-50 px-4 py-3 dark:border-warning-500/30 dark:bg-warning-500/10">
    <app-icon name="infoCircle" size="sm" classes="text-warning-500"/>
    @if (contractModality()?.nombre !== 'Tiempo completo ocasional') {
        <p class="text-sm text-warning-700 dark:text-warning-400">
            Solo es posible actualizar el valor del contrato para docentes Tiempo Completo Ocasional.
        </p>
    } @else {
        <p class="text-sm text-warning-700 dark:text-warning-400">
            Al presionar el botón 'Guardar', se comprobará si el cambio de puntos para este docente es valido y generará la novedad.
        </p>
    }
</div>