<!-- Only render if open -->
@if (isOpen) {
  <div class="fixed inset-0 flex items-center justify-center overflow-y-auto modal z-99999">
    <!-- Backdrop -->
    @if (!isFullscreen) {
      <div class="fixed inset-0 h-full w-full bg-gray-400/50 backdrop-blur-[32px]" (click)="onBackdropClick($event)"></div>
    }
    <!-- Modal Content -->
    <div
      [ngClass]="isFullscreen ? 'w-full h-full' : 'relative w-full rounded-3xl bg-white dark:bg-gray-900'"
      [class]="className"
      (click)="onContentClick($event)"
    >
      @if (showCloseButton) {
        <button
          type="button"
          (click)="close.emit()"
          class="absolute right-3 top-3 z-999 flex h-9.5 w-9.5 items-center justify-center rounded-full bg-gray-100 text-gray-400 transition-colors hover:bg-gray-200 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white sm:right-6 sm:top-6 sm:h-11 sm:w-11"
        >
          <app-icon name="close" size="sm" />
        </button>
      }
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
